aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
altgraph==0.17.4
anyio==4.9.0
attrs==25.3.0
azure-core==1.35.0
azure-identity==1.23.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
docx2pdf==0.1.8
frozenlist==1.7.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
lxml==6.0.0
microsoft-kiota-abstractions==1.9.4
microsoft-kiota-authentication-azure==1.9.4
microsoft-kiota-http==1.9.4
microsoft-kiota-serialization-form==1.9.4
microsoft-kiota-serialization-json==1.9.4
microsoft-kiota-serialization-multipart==1.9.4
microsoft-kiota-serialization-text==1.9.4
msal==1.32.3
msal-extensions==1.3.1
msg-parser==1.2.0
msgraph-core==1.3.5
msgraph-sdk==1.37.0
multidict==6.6.3
olefile==0.47
opentelemetry-api==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
propcache==0.3.2
pycparser==2.22
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.6
PyJWT==2.10.1
PyMuPDF==1.26.3
python-docx==1.2.0
pywin32==310
pywin32-ctypes==0.2.3
reportlab==4.4.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
std-uritemplate==2.0.5
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
zipp==3.23.0
